name: Continuous Integration

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  test-action:
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-latest, windows-latest, macos-latest]
        os: [ubuntu-slim]
    name: Test action
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - run: echo "${{ github.event_name }}"
      - name: Checkout
        uses: actions/checkout@v6
      - name: Test action for current pull request
        if: github.event_name == 'pull_request'
        id: runPr
        uses: ./
      - name: Test action for pull request is merged
        uses: ./
        with:
          prId: 22
      - name: Test action for pull request is merged and locked
        uses: ./
        with:
          prId: 3
      - name: Test action for pull request is closed
        uses: ./
        with:
          prId: 1
      - name: Test action for pull request is closed and locked
        uses: ./
        with:
          prId: 20
      # - name: Test action for pull request is draft
      #   if: github.event_name != 'pull_request' || (github.event_name == 'pull_request' && ${{ steps.runPr.outputs.prDraftState }} == 'false')
      #   uses: ./
      #   with:
      #     prId: 1
      # - name: Test action for pull request is open
      #   if: github.event_name != 'pull_request' || (github.event_name == 'pull_request' && ${{ steps.runPr.outputs.prDraftState }} == 'false')
      #   uses: ./
      #   with:
      #     prId: 1

  codeql-analyze:
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: javascript
          config-file: ./.github/codeql/codeql-config.yml
      - name: Autobuild
        uses: github/codeql-action/autobuild@v4
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4